.container {
    width: 900px;
    height: 400px;
    background-color: red;
    margin: 2rem auto;
}

.immagine-grande {
    width: 700px;
    height: 400px;
    float: left;
    position: relative;
}

.testo {
    color: white;
    line-height: 10px;
    margin-top: 20rem;
    font-size: 12px;
    text-align: right;
    margin-right: 1rem;
    position: absolute;
    top: 0;
    right: 2rem;
}

.icone-piccole {
    width: 200px;
    height: 400px;
    background-color: violet;
    float: left;
}

.icona1 {
    width: 200px;
    height: 80px;
}

.icona2 {
    width: 200px;
    height: 80px;
}

.icona3 {
    width: 200px;
    height: 80px;
}

.icona4 {
    width: 200px;
    height: 80px;
}

.icona5 {
    width: 200px;
    height: 80px;
}

.bottone-su {
    background-color: lightgrey;
    border-radius: 10px 10px;
    padding: 2px 6px;
    margin: 90px;
    position: absolute;
    top: -50px;
}

.bottone-giu {
    background-color: lightgrey;
    border-radius: 10px 10px;
    padding: 2px 6px;
    margin: 90px;
    position: absolute;
    top: 19rem;
}

.freccia {}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-grande {
    width: 100%;
    height: 100%;
    object-fit: cover;
}